{
  "extends": "hubspot",
  "rules":{
    "no-undefined": "off",
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "no-param-reassign": "off",
    "consistent-return": "off"
  }
}
  